@import 'variables';

.ContactBackground {
  background: url('../images/overlay.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 400px;
  margin: auto;

  @media (min-width: 320px) and (max-width: 767px) {
    height: 600px;
  }

  .contactContent {
    height: 100%;
    display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .contactContentElement {
      max-width: 100%;
      min-width: 375px;
    }

    .contactTitle {
      h2 {
        font-size: 3em;
        font-weight: 900;

        transform: translateX(40%);

        @media (min-width: 320px) and (max-width: 767px) {
          font-size: 1.5em;
          font-weight: 700;

          transform: translateX(0);
        }
      }

      .Contactline {
        position: absolute;
        top: 50%;
        left: 0;
        // width: 35%;
        height: 3px;
        background-color: white;

        @media (min-width: 320px) and (max-width: 767px) {
          top: 50%;
          left: 40%;
        }
      }
    }

    .informations {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 20%;
      color: white;

      a {
        color: white;
      }

      a.important {
        font-weight: 700;
      }

      a.resume {
        color: black;
        padding: 5px 10px;
        background-color: white;
        transition: 0.4s;
      }
    }

    .photo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        width: 300px;
      }
    }
  }
}
